@import "./_fonts";

$font-family-sans-serif: "Graphik", -apple-system, BlinkMacSystemFont,
  "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-base: $font-family-sans-serif;

$primary: #0074c7;
$secondary: #00497c;
$success: #82b864;
$danger: #cd2c2e;
$info: #f1f8fc;
$light: #f1f8fc;
$dark: #384050;

@import "bootstrap/scss/functions";

@import "bootstrap/scss/variables";

@import "bootstrap/scss/bootstrap";

:root {
  --toastify-color-success: #{$success};
  --toastify-color-error: #{$danger};
}

.logo {
  width: 240px;
}

// customisation de l'input de recherche du header
.search-input {
  border: none;
  border-bottom: 1px solid $secondary;
  border-radius: 0;
  background-color: $light;
  box-shadow: none;
  &:focus {
    border-bottom: 1px solid $secondary;
    box-shadow: none;
  }
  &:hover {
    background-color: #fff;
  }
}

// customisation de MainLayout
.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-layout .main-content {
  flex: 1;
}

// customisation  de StarsProgress
.note-container {
  position: relative;
  height: 1.8rem;

  width: 110px;
}

.note-stars-progress {
  position: relative;
  width: 110px;
  height: 1.8rem;
  display: flex;
  align-items: center;
}

.note-stars-bg,
.note-stars-fg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.note-stars-fg {
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  transition: width 0.3s;
}

.note-star {
  font-size: 1.2rem;
}

.note-star.empty {
  color: white;
}

.note-star.filled {
  color: $primary;
}
